# PYTHONPATH=/home/developer/workspace/git/github/easy-tilelang/tilelang:/home/developer/workspace/git/github/easy-tilelang/tilelang/3rdparty/tvm/python
# # TVM_LIBRARY_PATH=/home/developer/workspace/git/github/easy-tilelang/tilelang/build/tvm
PYTHONPATH=/home/developer/workspace/git/github/easy-tilelang/tilelang-ascend:/home/developer/workspace/git/github/easy-tilelang/tilelang-ascend/3rdparty/tvm/python
TVM_LIBRARY_PATH=/home/developer/workspace/git/github/easy-tilelang/tilelang-ascend/build/tvm